<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>TZ chatting</title>
    <link rel="stylesheet" href="/css/3000.css"/>


<style>

    
</style>



</head>


<body>
    <div class="container">
        <div class="header">
            <p>환영합니다, <%= user.nickname %>님!</p>
            <form action="/logout">
                <button type="submit" class="button_style_001">로그아웃</button>
            </form>
        </div>
        <br>
        <div class="button-container">
            <input class="button_style_002" type="button" value="사람들" onclick="location.href='a001'">
            <input class="button_style_002" type="button" value="친구찾기" onclick="location.href='a002'">
            <input class="button_style_002" type="button" value="친구" onclick="location.href='a003'">
            <input class="button_style_002" type="button" value="채팅" onclick="location.href='a004'">
            <input class="button_style_002" type="button" value="프로필" onclick="location.href='a005'">
            <input class="button_style_001" type="button" value="설정" onclick="location.href='a006'">
        </div>
    </div>


    <div class="user-info">
        <div style="border: 1px solid black; padding: 10px; width: 100%; flex: 1; overflow: auto;">
            <h2>친구 찾기 설정</h2>
            <table>
                <thead>
                    <tr>
                    <th>속성</th>
                    <th>값</th>
                    </tr>
                </thead>

                <tbody>
                   

                    <tr>
                        <td>나이</td>
                        <td><%= user.searchbirthyear1 %> ~ <%= user.searchbirthyear2 %></td> <!-- 사용자 Username -->
                        
                    </tr>                    
                    

                    <tr>
                        <td>성향</td>
                        <td><%= user.searchpreference %></td> <!-- 사용자 Username -->
                    </tr>

                    <tr>
                        <td>지역1</td>
                        <td><%= user.searchregion1 %></td> <!-- 사용자 Username -->
                    </tr>

                    <tr>
                        <td>지역2</td>
                        <td><%= user.searchregion2 %></td> <!-- 사용자 Username -->
                    </tr>


                </tbody>
            </table>

        </div>
    </div>

    
</body>
</html>